/* components/Slider.module.css */

.slider {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;    
    flex-direction: row-reverse;
    gap: 75px;
  }
  
  .slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; /* Adjust the height as needed */
  }
  
  .slides-container {
    display: flex;
  }
  
  .slide {
    flex: 0 0 100%;    
    text-align: left;    
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  .bullet-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
    gap: 14px;
  }
  
  .bullet {
    width: 10px;
    height: 10px;
    margin: 0 0.5rem;
    border: 2px solid #0091FF;    
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .bullet.active {
    background-color: #0070f3;
  }
  